@import "grid-helpers.less";

body {
  .container();
   max-width: 940px;
   overflow-x: hidden;
//  .showGrid(900px);
}

.row {
  .row();
}

.site-header {
    .column(12);
}

.flash-wrap {
    .column(12);
    .push(1);
}

.outer-wrap.outer-wrap-breadcrumb {
  .column(12);
}

.outer-wrap.outer-wrap-breadcrumb {
  .column(12);
}

.outer-wrap.outer-wrap-main {
  .column(12);
}

.column-a {
  .column(9);
}

.column-b {
  .column(2.7);
  .push(0.3);
}

.content {
  .column(9);
}

.footer-column {
   .column(4);
   text-align: center;
}

.site-footer {
  .column(12);
  text-align: center;
}

.vgrid, .route-grid, .route-grid.inner-wrap {
  background: url(../img/grid940x12x60x20-nomargin.png) repeat-y fixed center center;
}
