@main-color: #e6c7a4;
body {
    background-color: @main-color;
}
.flash-wrap {
    width: 800px;
    margin: auto;
}
.outer-wrap.outer-wrap-main {
    width: 800px;
    margin: auto;
}
.outer-wrap.outer-wrap-breadcrumb {
    width: 800px;
    margin: auto;
}
.outer-wrap.outer-wrap-after-main {
    width: 800px;
    margin: auto;
}
.f-r {
    float: right;
    margin: 0 0 8pt 8pt;
}
